<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="InterviewSuite">
  <test name="InterviewTest">
    <classes>
      <class name="com.planit.training.tests.Demo"/>
    </classes>
  </test> <!-- InterviewTest -->
</suite> <!-- InterviewSuite -->
